{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Importer des contacts</h1>	
		</div>
	</div>

	<div class="row spacer-top">
		<div class="col-md-12">
			<a href="{{ asset('files/crm/contact/fichier_import_contacts.xlsx') }}" class="btn btn-primary" id="btn-download-excel-template">
				Télécharger le modèle Excel
			</a>
		</div>
	</div>

	<div class="row spacer-top">
		<div class="col-md-12">
			{{ form(form) }}
		</div>
	</div>

{% endblock %}
