.idea/*
vendor
app/config/parameters.yml
app/logs/*
app/cache/*
web/bundles/*
composer.lock
composer.phar
README.md
web/uploads/*
Supprimerait .idea/
Supprimerait app/cache/
Supprimerait app/logs/
Supprimerait web/bundles/
