.idea/*
vendor
app/config/parameters.yml
app/config/config_dev.php
app/logs/*
app/cache/*
web/bundles/*
web/files/compta/*
composer.lock
composer.phar
README.md
web/upload/*
*.orig
**/Entity/*~
Supprimerait .idea/
Supprimerait app/cache/
Supprimerait app/logs/
Supprimerait web/bundles/

app/bootstrap.php.cache