<div class="produit-collection row">
	<div class="col-md-2">
		<div class="form-group">
	   	 	<div class="input-group">
	    		<div class="input-group-addon">BC-</div>{{ form_widget(form.num, { 'attr': {'class': 'num'}}) }}
	    	</div>
		</div>
	</div>
	<div class="col-md-2 montant">
		{{ form_widget(form.montantMonetaire) }}
	</div>
	<div class="col-md-4">
		{{ form_widget(form.fraisRefacturables) }}
	</div>
	<div class="col-md-1">
		<a href="#" class="btn btn-xs btn-danger remove-button"><span class="glyphicon glyphicon-minus"></span></a>
	</div>
	<div class="col-md-3"></div>
</div>
