{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<h1>Créer une action commerciale</h1>	
		</div>
	</div>

	{% include 'crm/action-commerciale/crm_action_commerciale_form.html.twig' %}

{% endblock %}