{% block submenu %}
    <ul class="nav nav-tabs">
      <li {% if app.request.pathInfo == "/compta/compte-attente"  %} class="active" {% endif %}>
        <a href="{{ path('compta_compte_attente_index') }}" >Compte d'attente</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/journal-od"  %} class="active" {% endif %}>
        <a href="{{ path('compta_journal_od_index') }}" >Journal des OD</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/lignes-non-lettrees"  %} class="active" {% endif %}>
          <a href="{{ path('compta_lignes_non_lettrees') }}">Lignes non lettrées</a>
      </li>
      <li {% if app.request.pathInfo == "/compta/affectation-diverse/liste"  %} class="active" {% endif %}>
          <a href="{{ path('compta_affectation_diverse_liste') }}">Affectations diverses</a>
      </li>
     
    </ul>
{% endblock %}