{% extends 'emailing/emailing_layout.html.twig' %}

{% block content %}

<div class="row" id="emailing_index">

	<div class="col-md-12 text-accueil-outil">
		<div class="page-head">
			<h1>{{ random(['La communication, c\'est génial !']) }}</h1>
			<p class="l">Envoyez vos emailings sans prise de tête ! ;-)</p>
			<div class="page-index-alert-box">
				<div class="page-index-alert-box-normal">Version</br>
					<span>Bêta</span>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<p>
			<a href="{{ path('emailing_campagne_liste') }}">
			<span class="glyphicon glyphicon-envelope" style="font-size: 2em;"></span> 
				<br />
				Campagnes
			</a>
		</p>
	</div>

	
</div>

{% endblock %}
