{% extends 'crm/crm_layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Créer une facture</h1>
        </div>
    </div>

    <div class="row">
    	<div class="col-md-12">
    		<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> 
    			<strong>Refacturation de frais</strong><br />
    			Si vous refacturez des frais à un client, vous devez passer par la rubrique "Frais refacturables" de l'action commerciale !
    		</div>
    	</div>
   	</div>

    {% set action = "ajouter" %}
    {% include 'crm/facture/crm_facture_form.html.twig' %}

{% endblock %}
