body{
	background: rgba(242, 131, 92, 0.12) !important;
}

#emailing_index{
	text-align: center;
}

#emailing_index a{
	color: #fb7155;
}

.aside ul .current a{
	color: #fb7155;
}

.aside ul li:hover a span{
    color: #fb7155;
}

.tooltoop{
    background: #fb7155;
}

.tooltoop:before{
    border-right:8px solid #fb7155;
}

.contact-view-table tr td:first-child{
	font-weight: bold;
	width: 150px;
}

.contact-view-table tr td{
	padding: 5px;
	vertical-align: top;
}

.contact-view-table{
	width: 100%;
}

.contact-view-table ul{
	list-style-type: none;
	padding-left: 0;
}

.emailing-stats-block{
	text-align: center;
}

#emailing-preview tr{
	background-color: unset;
}