@media (max-width:600px){
	
	.full-height{
		height: initial;
    	margin-bottom: 40px;
	}

	.btn-block-mobile{
		display: block;
    	width: 100%;
    	margin-bottom: 5px;
	}

	.center-mobile{
		text-align: center;
	}

	.btn-lg-mobile{
	    padding: 10px 16px;
	    font-size: 18px;
	    line-height: 1.3333333;
	    border-radius: 6px;
	}

	.spacer-top-mobile{
		margin-top: 15px;
	}

	.block-mobile{
		display: block;
	}

	#login_form input[type=text],
	#login_form input[type=password] {
	    line-height: 30px;
	    width: 100%;
	}

	#userbar #login-info{
		display: none;
	}

	#userbar{
		margin-bottom: 1px #eee solid;
	}

	.wrap-index{
		height: initial !important;
	}

	.wrap-index-head{
		width: 100% !important;
		padding: 10px !important;
		margin: 0 !important;
	}

	.wrap-index-head h1{
		margin: 0;
	}

	.wrap-content{
		padding: 70px 15px 15px 15px;
	}

	h1{
		font-size: 20px;
		font-weight: bold;
	}

	input[type=submit]{
		width: 100%;
	}

	.main_menu{
		padding: 0 !important;
	}

	.main_menu li{
		margin-bottom: 40px !important;
		width: 150px !important;
	}

	.main_menu li:hover a{
		transition: none !important;
	}

	.main_menu li:hover a img{
		bottom: 0 !important;
		transition: none !important;
	}

	.titre-mobile {
	    font-family: 'Orbitron', sans-serif;
	    color: #FFF;
	    text-align: center;
	    padding: 0;
	    position: fixed;
		top:0;
		left:0;
		z-index: 9999;
	}

	#titre-mobile-wrapper {
	    min-height: 60px;
	    width: 100%;
	}

	#titre-mobile-wrapper img{
		width: 50px;
		display: inline-block;
		vertical-align: middle;
	}

	#titre-mobile-wrapper .title{
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		margin-top: 15px;
    	margin-bottom: 10px;
	}

	#titre-mobile-wrapper.crm{
		background: #FC5162;
	}

	#titre-mobile-wrapper.compta{
		background: #F2835C;
	}

	#titre-mobile-wrapper.emailing{
		background: #fb7155;
	}

	#titre-mobile-wrapper.ndf{
		background: #fbb433;
	}

	#titre-mobile-wrapper.social{
		background: #ec741b;
	}

	#titre-mobile-wrapper.time_tracker{
		background: #FC5162;
	}

	#mobile-bottom-menu{
		background: #444141;
		width: 100%;
		height: 40px;
		position: fixed;
		bottom:0;
		left:0;
		z-index: 100;
	}

	#mobile-bottom-menu ul li a{
		color: #fff;
	}

	#mobile-bottom-menu ul li a:hover, #mobile-bottom-menu ul.nav .open>a{
		color: #fff;
		background: transparent;
	}

	#mobile-bottom-menu ul>li{
		width: 32%;
		text-align: center;
		font-size: 1.2em;
	}

	#mobile-bottom-menu ul li a .menu-icon{
		margin-right: 10px;
	}

	#mobile-bottom-menu ul.dropdown-menu li{
		padding: 10px 0 10px 0;
    	border-bottom: 1px solid #eee;
    	z-index: 9999999;
	}

	#mobile-bottom-menu ul.dropdown-menu li a{
		color: #000;
	}

	#userbar{
		height: 0 !important;
	}

	/***
	* Datatables
	***/

	.table.dataTable{
		width: 100% !important;
	}

	table.dataTable td{
		word-break: break-word;
	}

	table.dataTable td .label{
		display: block;
	}

	.dataTables_wrapper{
		padding: 0 !important;
		margin-top: 10px;
	}

	.dataTables_length, .DTTT_container, .dataTables_filter, .dataTables_dateRange{
		float: none;
		width: 100%;
		min-height: 0;
		padding: 20px 0 15px 0;

	}

	.dataTables_info{
		display: none;
	}

	.dataTables_length{
		display: none;
	}

	table.dataTable thead .sorting:after,
	table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after{
		display: none;
	}

	table.dataTable thead>tr>th.sorting_asc, 
	table.dataTable thead>tr>th.sorting_desc, 
	table.dataTable thead>tr>th.sorting{
		padding: 10px;
	}

	.fixed-top{
		position: absolute;
		width:100%;
		box-shadow: none;
	}


	#contact-name, #compte-name{
		float: none !important;
	}

	.modal-dialog{
		top: 60px;
	}

	.produit-mobile{
		margin-bottom: 30px;
	}

	#devis-calcul-wrapper, #facture-calcul-wrapper{
		width: 100% !important;
		text-align: left !important;
	}

	#devis-calcul-wrapper .form-group, #facture-calcul-wrapper .form-group{
		margin-left: 30%;
	}

	.devis-label, .facture-label{
		width: 100px !important;
	}

	.nav-tabs{
	    margin-top: 0px;
	    font-weight: bold;
	}

}