<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Ajouter une affectation diverse</h3>
</div>

<div class="modal-body">
	<p class="hidden" id="affectation-diverse-type">{{ affectation.type }}</p>
	{% include 'compta/affectation_diverse/compta_affectation_diverse_form.html.twig' %}
</div>